{% extends 'base.html' %}

{% block title %}
    About
{% endblock title %}

{% block content %}
<div class="jumbotron" style="color: white;">
    <h1> About The Data </h1>
    <p>
    Measurements are collected by state, local or tribal monitoring agencies using federal reference or equivalent monitoring methods approved by EPA. Although preliminary data quality assessments are performed, the data in AirNow are not subjected to the full validation used to officially submit and certify data in EPA’s regulatory database - the Air Quality System (AQS). AQS data are used for regulatory purposes, such as determining attainment of the National Ambient Air Quality Standards (NAAQS), while AirNow data are used only to report the AQI to the public.

    AirNow maps and AQI readings use only ozone, PM10, and PM2.5 at this time. However, once real-time calculations for other pollutants are developed, AirNow may offer real-time data for more pollutants. Some locations do provide air quality forecasts for NO2 and CO in addition to PM and ozone.

    Most data arrive by half-past the previous hour and are quality assured and released by the end of the hour. For instance, an AirNow value shown as “1 pm EST” would have been measured in a one-hour sample from noon to 1 pm EST and would show up on AirNow around 2 pm EST.
    </p>
</div>
{% endblock content %}